body{
    background-color: rgba(23, 90, 214, 0.692);
}

section{
    
}

div{
    background-color: white;
    width: 500px;
    height: 150px;
    padding: 10px;

}

img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    padding: 2px;
}