body{
    background-color: rgb(119, 119, 168);
    padding: 20px;
}

header{
    color: white;
    text-align: center;

}

img{
    border-radius:50%;
    width: 300px;
    height: 300px;

}

section{
    background-color: white; /*cor de fundo da section*/
    padding: 20px; /*espaçamento*/
    border-radius: 10px; /*borda arredondada*/
    width: 500px; /*Largura da section*/
    margin: auto; /*centralizando section na tela.*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575) ; /*sombra em 3 lados da section*/

}

div{
    text-align: center; /* centralizando texto na div.*/
    padding: 5px;
}

footer{
    color: white; /*cor da fonte no footer*/
    text-align: center;
    

}