
body{
    background-color: rgb(222, 228, 226);
    text-align: center;
    padding: 15px;
}

section{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);

}

footer{
    padding: 10px;
}