 body {
    background-color: rgb(156, 152, 152);
 }

 header{
    text-align: center;
 }

 section {

    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
 }

 img{
    
    border-radius:50%;
    width: 300px;
    height: 290px;
    margin: center;
    

 }

 footer{
    text-align: center;
 }