


body{
    background-color: rgb(59, 126, 214);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    width: 500px;       
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.466);
    
   

}

footer{
    color: white;
    text-align: center;
}
